@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/PeydaWebFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/PeydaWebFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/PeydaWebFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/PeydaWebFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: bolder;
  src: url("/assets/fonts/PeydaWebFaNum-Black.woff2") format("woff2");
}